<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wox.simulation.dao.group.CombinationDetailsMapper">
    <resultMap id="BaseResultMap" type="com.wox.simulation.entity.group.CombinationDetails">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="combination_name" property="combinationName" jdbcType="VARCHAR" />
        <result column="combination_synopsis" property="combinationSynopsis" jdbcType="VARCHAR" />
		<result column="combination_balance" property="combinationBalance" jdbcType="VARCHAR" />
        <result column="total_profit" property="totalProfit" jdbcType="VARCHAR" />
        <result column="month_profit" property="monthProfit" jdbcType="VARCHAR" />
		<result column="week_profit" property="weekProfit" jdbcType="VARCHAR" />
        <result column="today_profit" property="todayProfit" jdbcType="VARCHAR" />
        <result column="total_market_value" property="totalMarketValue" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, user_id, combination_name, combination_synopsis,combination_balance,total_profit,month_profit,week_profit,today_profit,total_market_value,create_time,update_time
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wox.simulation.entity.group.CombinationDetailsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from combination_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from combination_details
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from combination_details
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.wox.simulation.entity.group.CombinationDetailsExample">
        delete from combination_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.wox.simulation.entity.group.CombinationDetails">
        insert into combination_details (id, user_id, combination_name, combination_synopsis,combination_balance,total_profit,month_profit,week_profit,today_profit,total_market_value,create_time,update_time)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR},#{combinationName,jdbcType=VARCHAR},#{combinationSynopsis,jdbcType=VARCHAR},#{combinationBalance,jdbcType=VARCHAR},#{totalProfit,jdbcType=VARCHAR},#{monthProfit,jdbcType=VARCHAR},#{weekProfit,jdbcType=VARCHAR},#{todayProfit,jdbcType=VARCHAR},#{totalMarketValue,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.wox.simulation.entity.group.CombinationDetails">
        insert into combination_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
			<if test="userId != null">
                user_id,
            </if>
			<if test="combinationName != null">
                combination_name,
            </if>
			<if test="combinationSynopsis != null">
                combination_synopsis,
            </if>
			<if test="combinationBalance != null">
                combination_balance,
            </if>
			<if test="totalProfit != null">
                total_profit,
            </if>
			<if test="monthProfit != null">
                month_profit,
            </if>
			<if test="weekProfit != null">
                week_profit,
            </if>
			<if test="todayProfit != null">
                today_profit,
            </if>
            <if test="totalMarketValue != null">
                total_market_value,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
			<if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
			<if test="combinationName != null">
                #{combinationName,jdbcType=VARCHAR},
            </if>
			<if test="combinationSynopsis != null">
                #{combinationSynopsis,jdbcType=VARCHAR},
            </if>
			<if test="combinationBalance != null">
                #{combinationBalance,jdbcType=VARCHAR},
            </if>
			<if test="totalProfit != null">
                #{totalProfit,jdbcType=VARCHAR},
            </if>
			<if test="monthProfit != null">
                #{monthProfit,jdbcType=VARCHAR},
            </if>
			<if test="weekProfit != null">
                #{weekProfit,jdbcType=VARCHAR},
            </if>
			<if test="todayProfit != null">
                #{todayProfit,jdbcType=VARCHAR},
            </if>
            <if test="totalMarketValue != null">
                #{totalMarketValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.wox.simulation.entity.group.CombinationDetailsExample" resultType="java.lang.Integer">
        select count(*) from combination_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update combination_details
        <set>
			<if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
			<if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
			<if test="record.combinationName != null">
                combination_name = #{record.combinationName,jdbcType=VARCHAR},
            </if>
			<if test="record.combinationSynopsis != null">
                combination_synopsis = #{record.combinationSynopsis,jdbcType=VARCHAR},
            </if>
			<if test="record.combinationBalance != null">
                combination_balance = #{record.combinationBalance,jdbcType=VARCHAR},
            </if>
			<if test="record.totalProfit != null">
                total_profit = #{record.totalProfit,jdbcType=VARCHAR},
            </if>
			<if test="record.monthProfit != null">
                month_profit = #{record.monthProfit,jdbcType=VARCHAR},
            </if>
			<if test="record.weekProfit != null">
                week_profit = #{record.weekProfit,jdbcType=VARCHAR},
            </if>
			<if test="record.todayProfit != null">
                today_profit = #{record.todayProfit,jdbcType=VARCHAR},
            </if>
            <if test="record.totalMarketValue != null">
                total_market_value = #{record.totalMarketValue,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update combination_details
        set id = #{record.id,jdbcType=BIGINT},
        user_id = #{record.userId,jdbcType=VARCHAR},
        combination_name = #{record.combinationName,jdbcType=VARCHAR},
		combination_synopsis = #{record.combinationSynopsis,jdbcType=VARCHAR},
        combination_balance = #{record.combinationBalance,jdbcType=VARCHAR},
        total_profit = #{record.totalProfit,jdbcType=VARCHAR},
        month_profit = #{record.monthProfit,jdbcType=VARCHAR},
        week_profit = #{record.weekProfit,jdbcType=VARCHAR},
        today_profit = #{record.todayProfit,jdbcType=VARCHAR},
        total_market_value = #{record.totalMarketValue,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.wox.simulation.entity.group.CombinationDetails">
        update combination_details
        <set>
			<if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
			<if test="combinationName != null">
                #{combinationName,jdbcType=VARCHAR},
            </if>
			<if test="combinationSynopsis != null">
                #{combinationSynopsis,jdbcType=VARCHAR},
            </if>
			<if test="combinationBalance != null">
                #{combinationBalance,jdbcType=VARCHAR},
            </if>
			<if test="totalProfit != null">
                #{totalProfit,jdbcType=VARCHAR},
            </if>
			<if test="monthProfit != null">
                #{monthProfit,jdbcType=VARCHAR},
            </if>
			<if test="weekProfit != null">
                #{weekProfit,jdbcType=VARCHAR},
            </if>
			<if test="todayProfit != null">
                #{todayProfit,jdbcType=VARCHAR},
            </if>
            <if test="totalMarketValue != null">
                #{totalMarketValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wox.simulation.entity.group.CombinationDetails">
        update combination_details
        set user_id = #{record.userId,jdbcType=VARCHAR},
        combination_name = #{record.combinationName,jdbcType=VARCHAR},
        combination_synopsis = #{record.combinationSynopsis,jdbcType=VARCHAR},
        combination_balance = #{record.combinationBalance,jdbcType=VARCHAR},
        total_profit = #{record.totalProfit,jdbcType=VARCHAR},
        month_profit = #{record.monthProfit,jdbcType=VARCHAR},
        week_profit = #{record.weekProfit,jdbcType=VARCHAR},
        today_profit = #{record.todayProfit,jdbcType=VARCHAR},
        total_market_value = #{record.totalMarketValue,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

	<!-- 分页条件查询 -->
    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.wox.simulation.entity.group.CombinationDetails">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from combination_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

</mapper>